@font-face {
  font-family: roboto-regular;
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}

* {
  font-family: roboto-regular;
  margin: 0;
  padding: 0;
}

html,
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;

}
section.cars-container {
  position: relative;
  width: 100%;
  /* overflow: hidden; */
}
section.cars-container .landing-heading{
margin: 5rem 0 0 8rem;}

section.cars-container .row p,section.formulaStudent-container .row p {
  margin-bottom: 0.1rem;
  font-weight: 600;
  font-size: 20px;
}

section.cars-container .landing img {
  height: 600px;
  width: auto;
}

@media only screen and (max-width: 840px) {
    section.cars-container .landing-heading{
        margin: 2.6rem 0 0 0;

}

}

@media only screen and (max-width: 1370px) and (min-width: 840px) {
}