@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap");
* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.ml-mr-auto {
  margin-left: auto;
  margin-right: auto;
}

nav.navbar {
  position: relative;
  box-shadow: 0 8px 6px -6px black;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
nav.navbar .kz-nav-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: whitesmoke;
  filter: blur(5px);
}
nav.navbar a.navbar-brand img {
  width: 104px;
  height: auto;
}
nav.navbar div ul.navbar-nav li.nav-item {
  padding: 0px 8px;
}
nav.navbar div ul.navbar-nav a.nav-link {
  font-weight: 600;
  position: relative;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
}
nav.navbar div ul.navbar-nav a.nav-link span {
  position: relative;
  padding: 4px 0px;
  z-index: 2;
}
nav.navbar div ul.navbar-nav a.nav-link span::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #2ab7ca;
  opacity: 0.5;
  z-index: 1;
}
nav.navbar div ul.navbar-nav a.nav-link:hover span::before {
  content: "";
  height: 100%;
  display: inline-block;
  width: 30%;
  opacity: 0.5;
  background-color: #2ab7ca;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  z-index: 1;
}

h2.camber-title {
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  color: black;
  margin: 30px auto;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
h2.camber-title span {
  color: black;
  -webkit-text-fill-color: black;
}

footer.camber-footer {
  margin-top: 50px;
  text-align: center;
  padding: 20px;
  padding-bottom: 0px;
  background-image: linear-gradient(to bottom, rgba(17, 17, 17, 0.801), rgba(10, 10, 10, 0.966)), url("../img/cars/CR_X.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
footer.camber-footer hr {
  border-top: 1px solid red;
  margin: auto 100px;
}
footer.camber-footer div.row h5 {
  font-weight: 800;
  font-size: 32px;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
footer.camber-footer div.row h5 span {
  color: white;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 0px;
}
footer.camber-footer div.row h6 {
  border-bottom: 1px solid red;
  font-weight: 700;
}
footer.camber-footer div.row ul {
  list-style: none;
}
footer.camber-footer div.row ul li {
  color: white;
  opacity: 0.8;
}
footer.camber-footer div.row ul li a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}
footer.camber-footer div.row ul li a span:hover {
  color: red;
  border-bottom: 1px dashed red;
}
footer.camber-footer div.row div.footer-nav-links {
  width: fit-content;
  text-align: left;
}
footer.camber-footer div.row div.footer-contact-us {
  width: fit-content;
  text-align: right;
}
footer.camber-footer div.row div.footer-contact-us ul li a:hover i {
  color: red;
}
footer.camber-footer div.row div.footer-contact-us ul li i {
  padding: 0px 5px;
}
footer.camber-footer div.row div.footer-contact-us ul li i:hover {
  color: red;
}
footer.camber-footer div.row div.social-media-icon {
  text-align: right;
  padding: 5px 0px;
}
footer.camber-footer div.row div.social-media-icon a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
}
footer.camber-footer div.row div.social-media-icon a i {
  font-size: 24px;
}
footer.camber-footer div.row div.social-media-icon a i:hover {
  color: red;
}
footer.camber-footer div.hr-below {
  margin: auto 100px;
}
footer.camber-footer div.hr-below div.copyright {
  text-align: left;
}
footer.camber-footer small span {
  font-size: 14px;
  color: red;
}
footer.camber-footer small a {
  text-decoration: none;
}

@media (max-width: 576px) {
  h2.camber-title {
    font-size: 32px;
  }

  footer.camber-footer {
    overflow: hidden;
    padding: 5px;
    padding-bottom: 0px;
  }
  footer.camber-footer hr {
    margin: auto 10px;
  }
  footer.camber-footer div.row h5 {
    font-weight: 700;
    font-size: 28px;
  }
  footer.camber-footer div.footer-nav-links {
    text-align: center !important;
  }
  footer.camber-footer div.footer-contact-us {
    text-align: center !important;
  }
  footer.camber-footer div.footer-contact-us ul li i {
    padding: 0px 2px;
    font-size: 8px;
  }
  footer.camber-footer div.social-media-icon i {
    font-size: 8px;
  }
  footer.camber-footer div.hr-below {
    margin: auto 10px;
  }
  footer.camber-footer div.copyright {
    width: fit-content;
  }
  footer.camber-footer div.copyright small {
    font-size: 9px;
  }
  footer.camber-footer div.social {
    width: fit-content;
  }
}
* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.ml-mr-auto {
  margin-left: auto;
  margin-right: auto;
}

nav.navbar {
  position: relative;
  box-shadow: 0 8px 6px -6px black;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
nav.navbar .kz-nav-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: whitesmoke;
  filter: blur(5px);
}
nav.navbar a.navbar-brand img {
  width: 104px;
  height: auto;
}
nav.navbar div ul.navbar-nav li.nav-item {
  padding: 0px 8px;
}
nav.navbar div ul.navbar-nav a.nav-link {
  font-weight: 600;
  position: relative;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
}
nav.navbar div ul.navbar-nav a.nav-link span {
  position: relative;
  padding: 4px 0px;
  z-index: 2;
}
nav.navbar div ul.navbar-nav a.nav-link span::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #2ab7ca;
  opacity: 0.5;
  z-index: 1;
}
nav.navbar div ul.navbar-nav a.nav-link:hover span::before {
  content: "";
  height: 100%;
  display: inline-block;
  width: 30%;
  opacity: 0.5;
  background-color: #2ab7ca;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  z-index: 1;
}

h2.camber-title {
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  color: black;
  margin: 30px auto;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
h2.camber-title span {
  color: black;
  -webkit-text-fill-color: black;
}

footer.camber-footer {
  margin-top: 50px;
  text-align: center;
  padding: 20px;
  padding-bottom: 0px;
  background-image: linear-gradient(to bottom, rgba(17, 17, 17, 0.801), rgba(10, 10, 10, 0.966)), url("../img/cars/CR_X.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
footer.camber-footer hr {
  border-top: 1px solid red;
  margin: auto 100px;
}
footer.camber-footer div.row h5 {
  font-weight: 800;
  font-size: 32px;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
footer.camber-footer div.row h5 span {
  color: white;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 0px;
}
footer.camber-footer div.row h6 {
  border-bottom: 1px solid red;
  font-weight: 700;
}
footer.camber-footer div.row ul {
  list-style: none;
}
footer.camber-footer div.row ul li {
  color: white;
  opacity: 0.8;
}
footer.camber-footer div.row ul li a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}
footer.camber-footer div.row ul li a span:hover {
  color: red;
  border-bottom: 1px dashed red;
}
footer.camber-footer div.row div.footer-nav-links {
  width: fit-content;
  text-align: left;
}
footer.camber-footer div.row div.footer-contact-us {
  width: fit-content;
  text-align: right;
}
footer.camber-footer div.row div.footer-contact-us ul li a:hover i {
  color: red;
}
footer.camber-footer div.row div.footer-contact-us ul li i {
  padding: 0px 5px;
}
footer.camber-footer div.row div.footer-contact-us ul li i:hover {
  color: red;
}
footer.camber-footer div.row div.social-media-icon {
  text-align: right;
  padding: 5px 0px;
}
footer.camber-footer div.row div.social-media-icon a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
}
footer.camber-footer div.row div.social-media-icon a i {
  font-size: 24px;
}
footer.camber-footer div.row div.social-media-icon a i:hover {
  color: red;
}
footer.camber-footer div.hr-below {
  margin: auto 100px;
}
footer.camber-footer div.hr-below div.copyright {
  text-align: left;
}
footer.camber-footer small span {
  font-size: 14px;
  color: red;
}
footer.camber-footer small a {
  text-decoration: none;
}

@media (max-width: 576px) {
  h2.camber-title {
    font-size: 32px;
  }

  footer.camber-footer {
    overflow: hidden;
    padding: 5px;
    padding-bottom: 0px;
  }
  footer.camber-footer hr {
    margin: auto 10px;
  }
  footer.camber-footer div.row h5 {
    font-weight: 700;
    font-size: 28px;
  }
  footer.camber-footer div.footer-nav-links {
    text-align: center !important;
  }
  footer.camber-footer div.footer-contact-us {
    text-align: center !important;
  }
  footer.camber-footer div.footer-contact-us ul li i {
    padding: 0px 2px;
    font-size: 8px;
  }
  footer.camber-footer div.social-media-icon i {
    font-size: 8px;
  }
  footer.camber-footer div.hr-below {
    margin: auto 10px;
  }
  footer.camber-footer div.copyright {
    width: fit-content;
  }
  footer.camber-footer div.copyright small {
    font-size: 9px;
  }
  footer.camber-footer div.social {
    width: fit-content;
  }
}
div.kz-hero .svg-shape {
  -webkit-clip-path: url(#kz-hero-curve);
  clip-path: url(#kz-hero-curve);
}

html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 20px;
}

h2.camber-title span {
  -webkit-text-fill-color: black;
}

div.kz-hero .svg-shape {
  -webkit-clip-path: url(#kz-hero-curve);
  clip-path: url(#kz-hero-curve);
}

.landing {
  box-sizing: border-box;
  padding-top: 6%;
  min-height: 80vh;
}

.absolute-order {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.jumbotron {
  padding: 2rem 1rem;
  color: white;
  letter-spacing: 0.05rem;
}

.swiper-slide {
  height: 350px !important;
  width: 60vw;
  margin: 50px;
  box-shadow: 0 0 15px #222;
  cursor: pointer;
}

.swiper-slide > img {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}

.swiper-slide > p {
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 30px;
  color: white;
  text-shadow: 0 0 5px black;
  font-weight: bold;
  z-index: 2;
}

.awards > div > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 17px;
}

.awards img {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.award-img-div {
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.text-middle-force {
  text-align: center;
  padding: 100px;
}

.sponsors img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  margin: 10px;
}

.clip-svg {
  width: 0;
  height: 0;
}

.img-clip-block {
  font-family: "Cuprum", sans-serif;
  margin: 20px 0;
}

.img-clip-row {
  text-align: center;
}

.img-clip-row:first-of-type .img-clip-wrap {
  background-position: top;
}

.img-clip-row:nth-of-type(2) .img-clip-wrap:nth-of-type(odd) {
  background-position: left;
  top: 50px;
}

.img-clip-row:nth-of-type(2) .img-clip-wrap:nth-of-type(even) {
  background-position: right;
  top: 50px;
}

.img-clip-row:last-of-type .img-clip-wrap {
  background-position: bottom;
  top: 100px;
}

.img-clip-wrap {
  width: 200px;
  height: 200px;
  background-image: url("../img/awards/award2.jpg");
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: url("#clip-diamond-demo");
}

.overlay {
  background: rgba(171, 147, 116, 0.8);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.overlay-content {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  font-size: 180%;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.img-clip-wrap:hover .overlay {
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  background: none;
}

.img-clip-img {
  display: block;
}

@media only screen and (min-width: 200px) {
  .img-clip-row {
    margin-top: -154px;
  }

  .img-clip-row:first-of-type {
    margin-top: auto;
  }

  .img-clip-wrap {
    display: inline-block;
  }
}
.sponsors-test {
  margin-top: 200px;
  height: 300px;
  text-align: center;
}

.sponsors-test img {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 20px;
  box-shadow: 0 0 7px black;
}

.sponsors-test section {
  width: 100%;
  overflow: hidden;
}

.sponsors-test article {
  display: flex;
  width: 200%;
  animation: bannermove 20s linear infinite;
}

.sponsors-test div {
  width: 100%;
}

.sponsors-test ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.sponsors-test li {
  width: 100%;
}

@keyframes bannermove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
section.cars-hero div.carousel div.carousel-inner div.carousel-item img {
  width: 100%;
  height: 90vh;
}

section.car-items {
  margin: 60px auto;
  /*for style 2 cars*/
}
section.car-items h2.car-title {
  font-size: 48px;
  font-weight: 800;
  color: black;
  margin: 30px auto;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
section.car-items h2.car-title span {
  color: black;
  -webkit-text-fill-color: black;
}
section.car-items div.car-content {
  position: relative;
  float: right;
  width: 80%;
  padding: 30px;
  margin: 40px auto;
  background-color: whitesmoke;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
section.car-items div.car-content div.car-image {
  position: absolute;
  left: -20%;
  top: 50%;
  transform: translate(20%, -50%);
  border: 10px solid brown;
}
section.car-items div.car-content div.car-image img {
  transform: translate(-20%, -25%);
  width: 280px;
  height: 200px;
}
section.car-items div.car-content div.car-name {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: brown;
}
section.car-items div.car-content div.car-name h4 {
  padding: 10px;
  font-weight: 700;
}
section.car-items div.car-content div.specs-pills {
  position: relative;
  width: 100%;
  padding: 0px 20px;
}
section.car-items div.car-content div.specs-pills p {
  padding: 40px 20px;
  position: relative;
  text-align: right;
  width: 70%;
  margin-top: 48px;
  margin-left: auto;
}
section.car-items div.car-content div.specs-pills div.badges-pill {
  position: relative;
  width: 100%;
}
section.car-items div.car-content div.specs-pills div.badges-pill button.btn {
  background-color: #000000;
  color: #ffffff;
  border: none;
  box-shadow: none;
  float: right;
  z-index: 99;
}
section.car-items div.car-content div.specs-pills div.badges-pill button.btn:focus {
  border: none;
  box-shadow: none;
}
section.car-items div.car-content div.specs-pills div.badges-pill div.social-media-icons {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: auto;
  text-align: center;
  justify-content: center;
}
section.car-items div.car-content div.specs-pills div.badges-pill div.social-media-icons a {
  text-decoration: none;
  color: #000000;
  padding: 0px 8px;
}
section.car-items div.car-content div.specs-pills div.badges-pill div.social-media-icons a i {
  font-size: 24px;
}
section.car-items div.car-content div.specs-pills div.badges-pill div.modal div.modal-content div.modal-header {
  text-align: center;
}
section.car-items div.car-content div.specs-pills div.badges-pill div.modal div.modal-content div.modal-header h5 {
  color: #000000;
  font-weight: 700;
  text-align: center;
}
section.car-items div.car-content div.specs-pills div.badges-pill div.modal div.modal-content div.modal-body div.modal-img {
  width: 100%;
}
section.car-items div.car-content div.specs-pills div.badges-pill div.modal div.modal-content div.modal-body div.modal-img img {
  width: 100%;
}
section.car-items div.car-content div.specs-pills div.badges-pill div.modal div.modal-content div.modal-body div.modal-pill-section {
  margin: 20px auto;
}
section.car-items div.car-content div.specs-pills div.badges-pill div.modal div.modal-content div.modal-body div.modal-pill-section h6 {
  font-weight: 600;
  text-align: left;
}
section.car-items div.car-content div.specs-pills div.badges-pill div.modal div.modal-content div.modal-body div.modal-pill-section h6 span {
  color: brown;
}
section.car-items div.car-content div.specs-pills div.badges-pill div.modal div.modal-content div.modal-body div.modal-pill-section h6::after {
  content: "";
  display: inline-block;
  width: 12px;
  border-bottom: brown solid 3px;
}
section.car-items div.car-content div.specs-pills div.badges-pill div.modal div.modal-content div.modal-body div.modal-pill-section span.badge {
  border: 1px solid brown;
  padding: 2px 10px;
  margin: auto 5px;
  font-weight: 400;
}
section.car-items div.car-content div.specs-pills div.badges-pill div.modal div.modal-content div.modal-body div.modal-pill-section span.badge:hover {
  background-color: brown;
  color: white;
  cursor: pointer;
}
section.car-items div.car-content2 {
  position: relative;
  float: left;
  width: 80%;
  padding: 30px;
  margin: 40px auto;
  background-color: whitesmoke;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
section.car-items div.car-content2 div.car-image {
  position: absolute;
  right: -20%;
  top: 50%;
  transform: translate(-20%, -50%);
  border: 10px solid brown;
}
section.car-items div.car-content2 div.car-image img {
  transform: translate(20%, -25%);
  width: 280px;
  height: 200px;
}
section.car-items div.car-content2 div.car-name {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: brown;
}
section.car-items div.car-content2 div.car-name h4 {
  padding: 10px;
  font-weight: 700;
}
section.car-items div.car-content2 div.specs-pills {
  position: relative;
  width: 100%;
  padding: 0px 20px;
}
section.car-items div.car-content2 div.specs-pills p {
  padding: 40px 20px;
  position: relative;
  text-align: left;
  width: 70%;
  margin-top: 48px;
  margin-right: auto;
}
section.car-items div.car-content2 div.specs-pills div.badges-pill {
  position: relative;
  width: 100%;
}
section.car-items div.car-content2 div.specs-pills div.badges-pill button.btn {
  background-color: #000000;
  color: #ffffff;
  border: none;
  box-shadow: none;
  float: left;
  z-index: 99;
}
section.car-items div.car-content2 div.specs-pills div.badges-pill button.btn:focus {
  border: none;
  box-shadow: none;
}
section.car-items div.car-content2 div.specs-pills div.badges-pill div.social-media-icons {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: auto;
  text-align: center;
  justify-content: center;
}
section.car-items div.car-content2 div.specs-pills div.badges-pill div.social-media-icons a {
  text-decoration: none;
  color: #000000;
  padding: 0px 8px;
}
section.car-items div.car-content2 div.specs-pills div.badges-pill div.social-media-icons a i {
  font-size: 24px;
}
section.car-items div.car-content2 div.specs-pills div.badges-pill div.modal div.modal-content div.modal-header {
  text-align: center;
}
section.car-items div.car-content2 div.specs-pills div.badges-pill div.modal div.modal-content div.modal-header h5 {
  color: #000000;
  font-weight: 700;
  text-align: center;
}
section.car-items div.car-content2 div.specs-pills div.badges-pill div.modal div.modal-content div.modal-body div.modal-img {
  width: 100%;
}
section.car-items div.car-content2 div.specs-pills div.badges-pill div.modal div.modal-content div.modal-body div.modal-img img {
  width: 100%;
}
section.car-items div.car-content2 div.specs-pills div.badges-pill div.modal div.modal-content div.modal-body div.modal-pill-section {
  margin: 20px auto;
}
section.car-items div.car-content2 div.specs-pills div.badges-pill div.modal div.modal-content div.modal-body div.modal-pill-section h6 {
  font-weight: 600;
  text-align: left;
}
section.car-items div.car-content2 div.specs-pills div.badges-pill div.modal div.modal-content div.modal-body div.modal-pill-section h6 span {
  color: brown;
}
section.car-items div.car-content2 div.specs-pills div.badges-pill div.modal div.modal-content div.modal-body div.modal-pill-section h6::after {
  content: "";
  display: inline-block;
  width: 12px;
  border-bottom: brown solid 3px;
}
section.car-items div.car-content2 div.specs-pills div.badges-pill div.modal div.modal-content div.modal-body div.modal-pill-section span.badge {
  border: 1px solid brown;
  padding: 2px 10px;
  margin: auto 5px;
  font-weight: 400;
}
section.car-items div.car-content2 div.specs-pills div.badges-pill div.modal div.modal-content div.modal-body div.modal-pill-section span.badge:hover {
  background-color: brown;
  color: white;
  cursor: pointer;
}

/* Media Queries */
@media (max-width: 576px) {
  section.car-items div.car-content {
    width: 100%;
    margin-top: 240px;
    padding: 10px;
  }
  section.car-items div.car-content div.car-image {
    position: absolute;
    left: 50%;
    top: -240px;
    transform: translate(-50%, 15%);
  }
  section.car-items div.car-content div.car-image img {
    width: 240px;
    height: 150px;
  }
  section.car-items div.car-content div.specs-pills p {
    width: 100%;
    margin-top: 48px;
    padding: 20px 10px;
    text-align: center;
  }
  section.car-items div.car-content div.specs-pills div.badges-pill {
    width: 100%;
    height: auto;
  }
  section.car-items div.car-content div.specs-pills div.badges-pill button.btn {
    margin-left: auto;
    margin-right: auto;
  }
  section.car-items div.car-content div.specs-pills div.badges-pill div.social-media-icons {
    position: relative;
    width: 50%;
    z-index: 1;
  }
  section.car-items div.car-content div.specs-pills div.badges-pill div.modal div.modal-content div.modal-body div.modal-pill-section span.badge {
    font-size: 0.5rem !important;
  }
  section.car-items div.car-content2 {
    width: 100%;
    margin-top: 240px;
    padding: 10px;
  }
  section.car-items div.car-content2 div.car-image {
    position: absolute;
    left: 50%;
    top: -240px;
    transform: translate(-50%, 15%);
  }
  section.car-items div.car-content2 div.car-image img {
    width: 240px;
    height: 150px;
    transform: translate(12%, -25%);
  }
  section.car-items div.car-content2 div.specs-pills p {
    width: 100%;
    margin-top: 48px;
    padding: 20px 10px;
    text-align: center;
  }
  section.car-items div.car-content2 div.specs-pills div.badges-pill {
    width: 100%;
    height: auto;
  }
  section.car-items div.car-content2 div.specs-pills div.badges-pill button.btn {
    margin-left: auto;
    margin-right: auto;
  }
  section.car-items div.car-content2 div.specs-pills div.badges-pill div.social-media-icons {
    position: relative;
    width: 50%;
    float: right;
    z-index: 1;
  }
  section.car-items div.car-content2 div.specs-pills div.badges-pill div.modal div.modal-content div.modal-body div.modal-pill-section span.badge {
    font-size: 0.5rem !important;
  }
}

/*# sourceMappingURL=cars.css.map */
