@font-face {
  font-family: roboto-regular;
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}
@font-face {
  font-family: air-mitalic;
  src: url(../fonts/air_mitalic.ttf) format("truetype");
}
* {
  font-family: roboto-regular;
  margin: 0;
  padding: 0;
}

html,
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 20px;
}

.ml-mr-auto {
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 55px;
  background-color: var(--black);
  z-index: 5;
}
.navbar-brand {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--white);
  margin: 0;
  padding: 16px;
  width: 288px;
  height: 138px;
  clip-path: polygon(0 0, 100% 0, 80% 70%, 0 70%);
}

.navbar-brand img {
  width: 208px;
  height: auto;
}

.nav-link {
  font-weight: 500;
}

.nav-link span {
  position: relative;
  padding: 0.75rem 0.25rem;
  z-index: 2;

  color: var(--white);
}

.nav-link span:hover {
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  background-color: var(--red);
}
.carousel-indicators {
  z-index: 1;
}

h2.camber-title {
  padding: 0 15px;
  font-size: 40px;
  font-weight: 600;
  text-align: start;
  color: var(--black);
  margin: 30px auto;
}
h2.camber-title span {
  color: var(--red);
}

footer.camber-footer {
  margin-top: 1rem;
  text-align: center;
  padding: 20px;
  background-color: var(--black);
  color: #ffffff;
}
.col-md-4 {
  padding: 24px 50px;
}

footer.camber-footer div.row h5 {
  font-family: air-mitalic;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 2px;
  stroke: var(--black);
  stroke-width: 3;
  color: var(--red);
  margin-top: 2rem;
}
footer.camber-footer div.row img {
  width: 172px;
}

.footer-newsletter-button div,
.footer-send-button div {
  background-color: var(--red);
  border: none;
  border-radius: 0.4rem;
  text-align: center;
  width: max-content;
}
.footer-newsletter-button {
  width: max-content;
}

footer.camber-footer div.row h6 {
  font-weight: 700;
  font-size: 18px;
  color: var(--white);
  margin: 0 !important;
}
footer.camber-footer div.row div.social-media-icon {
  text-align: center;
  padding: 5px 0px;
  color: var(--grey);
  background-color: var(--white);
  margin: 16px auto;
  width: 200px;
}

footer.camber-footer div.row div.social-media-icon a {
  text-decoration: none;
  color: var(--grey);
  padding: 5px;
}

footer.camber-footer div.row div.social-media-icon a i {
  font-size: 22px;
}

footer.camber-footer div.row div.social-media-icon a i:hover {
  color: var(--red);
}

footer.camber-footer div.row div.footer-contact-us .heading {
  font-weight: 600;
  font-size: 21px;
  color: var(--red);
  margin: 2rem 0 1.4rem 0 !important;
  text-align: start;
}

footer.camber-footer div.row div.footer-contact-us h6 {
  margin: 0.4rem 0 !important;
  font-weight: 600;
}

footer.camber-footer div.row div.footer-contact-us div p {
  font-size: 16px;
  margin-right: 8rem;
  /* margin-bottom: 2rem; */
}
footer.camber-footer div.row div.footer-contact-us ul li :hover {
  color: var(--red);
}

footer.camber-footer div.row div.footer-contact-us ul li a .fas {
  font-size: 16px;
}
footer.camber-footer div.row div.footer-button a:hover {
  text-decoration: none;
}

.input-section {
  text-align: center;
}
footer.camber-footer div.row .heading {
  font-weight: 600;
  font-size: 21px;
  color: var(--red);
  margin: 2rem 0 1.4rem 0 !important;
  text-align: start;
}
.input-section input {
  display: block;
  background-color: var(--grey);
  border: none;
  color: orangered;
  border-radius: 8px;
}
.input-section input:focus {
  outline: none;
}
.input-section input::placeholder {
  color: var(--white);
}

footer.camber-footer div.row ul {
  list-style: none;
}

footer.camber-footer div.row ul li {
  color: white;
  opacity: 0.8;
}

footer.camber-footer div.row ul li a {
  text-decoration: none;
  color: white;
}
footer.camber-footer div.row ul li a span {
  font-size: 14px;
  font-weight: 400;
}
footer.camber-footer div.row ul li a:hover {
  color: var(--red);
  border-bottom: 1px dashed var(--red);
}

footer.camber-footer hr {
  border-top: 1px solid var(--red);
}

footer.camber-footer div.hr-below {
  margin: auto inherit;
}

footer.camber-footer div.hr-below div.copyright {
  text-align: start;
  /* font-size: 80%; */
  font-weight: 400;
  padding: 0 !important;
}
footer.camber-footer .brand-mark {
  text-align: right;
  padding: 0;
}
footer.camber-footer small span {
  font-size: 14px;
  color: var(--red);
}

footer.camber-footer small a {
  text-decoration: none;
}
@media only screen and (max-width: 840px) {
  .navbar {
    height: 56px;
    padding: 0;
  }
  .navbar-brand {
    padding: 8px;
    width: 136px;
    height: 80px;
  }
  .navbar-brand img {
    width: 104px;
    height: auto;
  }
  .navbar-toggler {
    z-index: 9;
    margin: 4px 8px 4px 85%;
    padding: 4px;
    font-size: 1rem;
    line-height: 1;
    background-color: var(--grey);
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
  .nav-link {
    padding: 8px;
  }

  .navbar-nav {
    background: var(--grey);
  }

  .nav-link span:hover {
    padding: 8px;
    clip-path: none;
    background-color: var(--grey);
  }

  footer.camber-footer div.content div p {
    text-align: justify;
    font-size: 13px;
  }
  footer.camber-footer div.row h6 {
    font-size: 13px;
  }
  .footer-contact-us {
    padding: 24px 32px;
  }
  .input-section {
    padding: 24px 32px;
  }
  .input-section input {
    width: 94% !important;
  }
  footer.camber-footer div.row div.footer-contact-us div p {
    margin-right: 0rem;
  }
  footer.camber-footer div.hr-below {
    margin: auto 24px;
  }

  footer.camber-footer div.hr-below div.copyright {
    text-align: center;
    margin-bottom: 0.3rem;
  }
  footer.camber-footer .brand-mark {
    text-align: center !important;
  }
}

@media only screen and (max-width: 1370px) and (min-width: 840px) {
  .nav-link span {
    padding: 6px;
  }

  footer.camber-footer div.row div.footer-contact-us div p {
    margin-right: 0rem;
  }
}
:root {
  --black: #000000;
  --grey: #1e1e1e;
  --red: #e9081e;
  --white: #ffffff;
}
