@font-face {
  font-family: roboto-regular;
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}

* {
  font-family: roboto-regular;
  margin: 0;
  padding: 0;
}

.landing-heading {
  padding-top: 6rem;
  padding-left: 4rem;
  font-size: 40px;
  font-weight: 600;
  text-align: start;
  color: var(--black);
}
.landing-heading span {
  color: var(--red);
}

@media (max-width: 768px) {
  .landing-heading {
    padding-left: 0rem;
    text-align: center;
  }
}
.partners {
  margin: 0 auto;
  width: 90vw;
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  /* overflow-x: scroll; */
}

.partners::-webkit-scrollbar {
  display: none;
}

.partners img {
  display: inline-block;
  object-fit: scale-down;
  width: 12rem;
  padding: 2rem;
  margin: auto 0;
  transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
.partners img:hover {
  transform: scale(1.25);
}
