@import "_fonts";
@import "global";

section.aboutus {
    margin-top: 100px;

    div.aboutus-row {
        div.aboutus-row-img {
            img {
                width: 80%;
                height: auto;
            }
        }
    }
}

section.contact-form {

    div.contact-form-content {
        #map {
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width:576px) {
    section.contact-form {
        div.contact-form-content {
            #map {
                width: 100%;
                height: 300px;
            }

            form {
                padding: 10px 0px;
            }
        }
    }
}