@import "global";
@import "index";

section.cars-hero {
    div.carousel {
        div.carousel-inner {
            div.carousel-item {
                img {
                    width: 100%;
                    height: 90vh;
                }
            }
        }
    }
}

section.car-items {
    margin: 60px auto;

    h2.car-title {
        font-size: 48px;
        font-weight: 800;
        color: black;
        margin: 30px auto;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;

        span {
            color: black;
            -webkit-text-fill-color: black;
        }
    }

    div.car-content {
        position: relative;
        float: right;
        width: 80%;
        padding: 30px;
        margin: 40px auto;
        background-color: whitesmoke;
        border-radius: 10px;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

        div.car-image {
            position: absolute;
            left: -20%;
            top: 50%;
            transform: translate(20%, -50%);
            border: 10px solid brown;

            img {
                transform: translate(-20%, -25%);
                width: 280px;
                height: 200px;
            }
        }

        div.car-name {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            background-color: #000000;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            color: brown;

            h4 {
                padding: 10px;
                font-weight: 700;
            }
        }

        div.specs-pills {
            position: relative;
            width: 100%;
            padding: 0px 20px;

            p {
                padding: 40px 20px;
                position: relative;
                text-align: right;
                width: 70%;
                margin-top: 48px;
                margin-left: auto;
            }

            div.badges-pill {
                position: relative;
                width: 100%;

                button.btn {
                    background-color: #000000;
                    color: #ffffff;
                    border: none;
                    box-shadow: none;
                    float: right;
                    z-index: 99;

                    &:focus {
                        border: none;
                        box-shadow: none;
                    }
                }

                div.social-media-icons {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 30%;
                    height: auto;
                    text-align: center;
                    justify-content: center;

                    a {
                        text-decoration: none;
                        color: #000000;
                        padding: 0px 8px;

                        i {
                            font-size: 24px;
                        }
                    }
                }

                div.modal {
                    div.modal-content {
                        div.modal-header {
                            text-align: center;

                            h5 {
                                color: #000000;
                                font-weight: 700;
                                text-align: center;
                            }
                        }

                        div.modal-body {
                            div.modal-img {
                                width: 100%;

                                img {
                                    width: 100%;
                                }
                            }

                            div.modal-pill-section {
                                margin: 20px auto;

                                h6 {
                                    font-weight: 600;
                                    text-align: left;

                                    span {
                                        color: brown;
                                    }

                                    &::after {
                                        content: '';
                                        display: inline-block;
                                        width: 12px;
                                        border-bottom: brown solid 3px;
                                    }
                                }

                                span.badge {
                                    border: 1px solid brown;
                                    padding: 2px 10px;
                                    margin: auto 5px;
                                    font-weight: 400;

                                    &:hover {
                                        background-color: brown;
                                        color: white;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /*for style 2 cars*/
    div.car-content2 {
        position: relative;
        float: left;
        width: 80%;
        padding: 30px;
        margin: 40px auto;
        background-color: whitesmoke;
        border-radius: 10px;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

        div.car-image {
            position: absolute;
            right: -20%;
            top: 50%;
            transform: translate(-20%, -50%);
            border: 10px solid brown;

            img {
                transform: translate(20%, -25%);
                width: 280px;
                height: 200px;
            }
        }

        div.car-name {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            background-color: #000000;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            color: brown;

            h4 {
                padding: 10px;
                font-weight: 700;
            }
        }

        div.specs-pills {
            position: relative;
            width: 100%;
            padding: 0px 20px;

            p {
                padding: 40px 20px;
                position: relative;
                text-align: left;
                width: 70%;
                margin-top: 48px;
                margin-right: auto;
            }

            div.badges-pill {
                position: relative;
                width: 100%;

                button.btn {
                    background-color: #000000;
                    color: #ffffff;
                    border: none;
                    box-shadow: none;
                    float: left;
                    z-index: 99;

                    &:focus {
                        border: none;
                        box-shadow: none;
                    }
                }

                div.social-media-icons {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 30%;
                    height: auto;
                    text-align: center;
                    justify-content: center;

                    a {
                        text-decoration: none;
                        color: #000000;
                        padding: 0px 8px;

                        i {
                            font-size: 24px;
                        }
                    }
                }

                div.modal {
                    div.modal-content {
                        div.modal-header {
                            text-align: center;

                            h5 {
                                color: #000000;
                                font-weight: 700;
                                text-align: center;
                            }
                        }

                        div.modal-body {
                            div.modal-img {
                                width: 100%;

                                img {
                                    width: 100%;
                                }
                            }

                            div.modal-pill-section {
                                margin: 20px auto;

                                h6 {
                                    font-weight: 600;
                                    text-align: left;

                                    span {
                                        color: brown;
                                    }

                                    &::after {
                                        content: '';
                                        display: inline-block;
                                        width: 12px;
                                        border-bottom: brown solid 3px;
                                    }
                                }

                                span.badge {
                                    border: 1px solid brown;
                                    padding: 2px 10px;
                                    margin: auto 5px;
                                    font-weight: 400;

                                    &:hover {
                                        background-color: brown;
                                        color: white;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/* Media Queries */
@media (max-width: 576px) {
    section.car-items {
        div.car-content {
            width: 100%;
            margin-top: 240px;
            padding: 10px;

            div.car-image {
                position: absolute;
                left: 50%;
                top: -240px;
                transform: translate(-50%, 15%);

                img {
                    width: 240px;
                    height: 150px;
                }
            }

            div.specs-pills {
                p {
                    width: 100%;
                    margin-top: 48px;
                    padding: 20px 10px;
                    text-align: center;
                }

                div.badges-pill {
                    width: 100%;
                    height: auto;

                    button.btn {
                        margin-left: auto;
                        margin-right: auto;
                    }

                    div.social-media-icons {
                        position: relative;
                        width: 50%;
                        z-index: 1;
                    }

                    div.modal {
                        div.modal-content {
                            div.modal-body {
                                div.modal-pill-section {
                                    span.badge {
                                        font-size: 0.5rem !important;
                                    }
                                }
                            }
                        }
                    }
                }

            }

        }

        div.car-content2 {
            width: 100%;
            margin-top: 240px;
            padding: 10px;

            div.car-image {
                position: absolute;
                left: 50%;
                top: -240px;
                transform: translate(-50%, 15%);

                img {
                    width: 240px;
                    height: 150px;
                    transform: translate(12%, -25%);
                }
            }

            div.specs-pills {
                p {
                    width: 100%;
                    margin-top: 48px;
                    padding: 20px 10px;
                    text-align: center;
                }

                div.badges-pill {
                    width: 100%;
                    height: auto;

                    button.btn {
                        margin-left: auto;
                        margin-right: auto;
                    }

                    div.social-media-icons {
                        position: relative;
                        width: 50%;
                        float: right;
                        z-index: 1;
                    }

                    div.modal {
                        div.modal-content {
                            div.modal-body {
                                div.modal-pill-section {
                                    span.badge {
                                        font-size: 0.5rem !important;
                                    }
                                }
                            }
                        }
                    }



                }

            }

        }
    }
}