@import "_variables";
@import "_fonts";

* {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
  }

  nav.navbar{
    position: relative;
    box-shadow: 0 8px 6px -6px black;
    background-color: #f1f1f1;
    a.navbar-brand{
      img{
        width: 120px;
        height: auto;
      }
    }
  }