@import "_variables";
@import "_fonts";

* {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
  }

  nav.navbar{
    position: relative;
    box-shadow: 0 8px 6px -6px black;
    background-color: white;
    border-radius: 10px;
    a.navbar-brand{
      img{
        width: 104px;
        height: auto;
      }
    }
    div{
      ul.navbar-nav{
        li.nav-item{
          padding: 0px 8px;
        }
        a.nav-link{
          font-weight: 600;
          position: relative;
          transition: 0.2s ease;
          -webkit-transition: 0.2s ease;
          span{
            position: relative;
            z-index: 2;
            &::before{
              content: "";
              display: inline-block;
              position: absolute;
              width: 0;
              height: 100%;
              background-color: blue;
              opacity: 0.5;
              z-index: 1;
            }
          }
          &:hover{
            span{
              &::before{
                content: "";
                height: 100%;
                display: inline-block;
                width: 30%;
                opacity: 0.5;
                background-color: blue;
                transition: 0.2s ease;
          -webkit-transition: 0.2s ease;
          z-index: 1;
              }
            }
          }
        }
      }
    }
  }